@if (User.IsInRole("Admin"))
{
    <li>
        @Html.ActionLink("Usuarios","Index","Usuarios")
    </li>
    <li>
        @Html.ActionLink("Marcas","Index","Marcas")
    </li>
    <li>
        @Html.ActionLink("Modelos", "Index", "Modelos")
    </li>
    <li>
        @Html.ActionLink("Equipos", "Index", "Equipos")
    </li>
    <li>
        @Html.ActionLink("Mantenimientos", "Index", "Mantenimientos")
    </li>
}