@model Kaizen_Maintenance.Models.Equipos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adicionado_Por)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adicionado_Por)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Adicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Adicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modificado_Por)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modificado_Por)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
